<!DOCTYPE html>
<html lang = "en">

<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film It</title>
    <link rel="stylesheet" href="../public/css/dm.css">
    <!--아이콘 추가 fantawesome CDN-->
    <script src="https://kit.fontawesome.com/dc0b4eb1d0.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="wrap">
        <div id="head">
            <b><i class="fa-solid fa-film"></i> Film It </b>
             
        </div>
        <div id="dmList">
            <div id="dmListAttribute"> 
                <div id="ListProfile"> <i class="fa-solid fa-circle-user fa-3x"></i></div>
                <div id="ListNickname"> nickname1
                    <div id="ListContent"> 안녕!</div>
                </div>
                <div id="ListTime"> PM 8:00 
                    <div id="ListQuan"> 2 </div>
                </div>
            </div>
            <div id="dmListAttribute"> 
                <div id="ListProfile"> <i class="fa-solid fa-circle-user fa-3x"></i></div>
                <div id="ListNickname"> nickname2
                    <div id="ListContent"> 안녕!</div>
                </div>
                <div id="ListTime"> PM 9:00 
                    <div id="ListQuan"> 3 </div>
                </div>
            </div>
            <div id="dmListAttribute"> 
                <div id="ListProfile"> <i class="fa-solid fa-circle-user fa-3x"></i></div>
                <div id="ListNickname"> nickname3
                    <div id="ListContent"> 안녕!</div>
                </div>
                <div id="ListTime"> PM 9:00 
                    <div id="ListQuan"> 6 </div>
                </div>
            </div>
            <div id="dmListAttribute"> 
                <div id="ListProfile"> <i class="fa-solid fa-circle-user fa-3x"></i></div>
                <div id="ListNickname"> nickname4
                    <div id="ListContent"> 안녕!</div>
                </div>
                <div id="ListTime"> PM 9:00 
                    <div id="ListQuan"> 9 </div>
                </div>
            </div>
            <div id="dmListAttribute"> 
                <div id="ListProfile"> <i class="fa-solid fa-circle-user fa-3x"></i></div>
                <div id="ListNickname"> nickname5
                    <div id="ListContent"> 안녕!</div>
                </div>
                <div id="ListTime"> PM 9:00 
                    <div id="ListQuan"> 2 </div>
                </div>
            </div>
            <div id="dmListAttribute"> 
                <div id="ListProfile"> <i class="fa-solid fa-circle-user fa-3x"></i></div>
                <div id="ListNickname"> nickname6
                    <div id="ListContent"> 안녕!</div>
                </div>
                <div id="ListTime"> PM 9:00 
                    <div id="ListQuan"> 4 </div>
                </div>
            </div>
            <div id="dmListAttribute"> 
                <div id="ListProfile"> <i class="fa-solid fa-circle-user fa-3x"></i></div>
                <div id="ListNickname"> nickname7
                    <div id="ListContent"> 안녕!</div>
                </div>
                <div id="ListTime"> PM 9:00 
                    <div id="ListQuan"> 8 </div>
                </div>
            </div>
            <div id="createDM"><i class="fa-solid fa-circle-plus fa-2x"></i> 메세지 보내기 </div>
        </div>
        <div id="dmContent">
            <div id="receiver"> 
                <div id ="msg"> 
                    <div id="profile"><i class="fa-solid fa-circle-user fa-3x"></i></div>
                    <div id="message"> 안녕!</div>
                </div>
            </div>    
            <div id="me"> 
                <div id="message"> 오랜만~~ </div>
            </div>
        </div>
        <div id="dmSend">
            <small id="messageInput"> 메세지입력 </small>
            <i class="fa-regular fa-heart fa-2x"></i>
            <i class="fa-solid fa-paper-plane fa-2x"></i>
        </div>
    </div>
</body>
</html>