<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film It</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/profile.css">
    
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- Google Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <style>
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        header{
            background-color: #f5f5ff;
        }

        .addbtn{
            background-color: rgb(39,74,131);
            width: 100px;
            height: 40px;
            border-radius: 6px;
        }
    </style>

</head>
<body>
    <script src="profile.js"></script>
    <header style="position: fixed; width: 100%;">
        <div class="logo">
            <a href="#">
                <img style="width: 60px;" 
                src="http://image.kyobobook.co.kr/newimages/giftshop_new/goods/400/1843/hot1629448723081.jpg" alt="">
                <span class = "title">Film It</span>
            </a>         
        </div>
            <div class="search-field">
                <i class='bx bx-search'></i>
                <input type="text">
             </div>
             <div>
                <button type="button" class="addbtn btn-primary">+ Film</button>'
                <button type="button" class="addbtn btn-primary">+ Post</button>'
            </div>

    </header>

    <nav class="sidebar" style="width: 20%;">
        <div style="display:flex; flex-direction:column; align-items:center; position:relative; top:50px;">
            <div class = "box">
                <a href="#">
                    <img class="profile" 
                    src="http://file3.instiz.net/data/file3/2021/05/31/c/3/9/c39740894a446ef2335cfb6818eb579f.png" alt="">
                </a>
            </div>
            <div style="font-size: 25px;">
                nickname
            </div>
            <div>
                @lululala123
            </div>
        </div>

        <div style="display:flex; flex-direction:row; justify-content:center; justify-content:space-around; 
        align-items: center; text-align: center; position:relative; top:100px;">
            <div>
                <div>123</div>
                <span>Posts</span>
            </div>
            <div>
                <a href="#">
                    <div>123</div>
                    <span>Subscribers</span>
                </a>
            </div>
        </div>
        

        <div class="menu-bar">
            <div class="menu" style="display:flex; flex-direction:column; position: relative; top:140px;">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-film icon' ></i>
                            <span class="text nav-text">Film</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">                            
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notifications</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-paper-plane icon'></i>
                            <span class="text nav-text">Direct Message</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icon' ></i>
                            <span class="text nav-text">Like</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                          <i class='bx bx-bookmark icon' ></i>
                            <span class="text nav-text">Bookmark</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-cog icon'></i>
                            <span class="text nav-text">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content"  style="display:flex; flex-direction:column; position: relative; top:-250px; right: -28px;">
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                
            </div>
        </div>

    </nav>

<!-- navigation bar 제외 영역 -->
<div class="feed" style="display: flex; justify-content: right; padding-top: 60px;">
    <div style="width: 80%; height: 1000px;">
        <div class="header">  </div>
        <div class="films_post" style="display:flex; flex-direction:row; margin: 15px; height: 60px; border-top: solid 1.5px lightgray; border-bottom: solid 1.5px lightgray;">
                <a class="button" href="#" style="border-right: solid 1.5px lightgray;">
                        Films
                </a>
                <a class="button" href="#">
                        Posts
                </a>
        </div>

        <div style="display: flex; justify-content:end;">
            <div style="width:100%;" >

            <!--필름 1개-->
            <div style="border:solid 1px rgb(255, 255, 255); background-color: rgb(255, 255, 255); margin:35px; height:480px;">
                   
                <div style = "margin : 10px 80px; display: flex; flex-direction: row; justify-content: space-between;">
                    <div>
                        <b style="font-size: 20px; padding-left: 80px;">Film Title</b>
                        <span style="color: rgb(65, 71, 78); font-size: 15px; padding-left: 5px;">2022.05.01</span>
                    </div>

                    <div>
                        <span style="color: rgb(28, 80, 136); font-size: 20px; justify-content: end;">5 Posts</span>
                    </div>
                </div>
                
                <!--필름 & 이미지 넣는 곳-->
                <div style ="height: 300px; width: 1900px; position: absolute;"> 
                    <img src="../public/images/film.png" width="100%" height="300px">
                    
                </div>
                <div style="height: 300px; position: relative; padding-left: 100px; display: flex; flex-direction: row;">
                    <button class="front_btn" ><i class='bx bx-chevron-left'></i></button>
                    
                    <img src="https://cdn.pixabay.com/photo/2017/08/02/00/16/couple-2568954_1280.jpg" style="height: 83%; padding-left: 12px; padding-top: 58px; width: 19%;">
                    <img src="https://cdn.pixabay.com/photo/2016/02/07/19/50/mountaineer-1185474_1280.jpg" style="height: 83%; padding-left: 7px; padding-top: 58px; width: 18.5%;">
                    <img src="https://cdn.pixabay.com/photo/2017/03/07/20/35/climb-2125148_1280.jpg" style="height: 83%; padding-left: 7px; padding-top: 58px; width: 18.5%;">
                    <img src="https://cdn.pixabay.com/photo/2016/11/22/19/25/man-1850181_1280.jpg" style="height: 83%; padding-left: 7px; padding-top: 58px; width: 18.5%;">
                    <img src="https://cdn.pixabay.com/photo/2015/05/18/23/53/backpacker-772991_1280.jpg" style="height: 83%; padding-left: 7px; padding-top: 58px; width: 18.5%;">
                    
                    <button class="back_btn"> <i class='bx bx-chevron-right' ></i></button>
                </div>
                <!-- 끝-->

                <div style="border:solid 1px rgb(255, 255, 255); background-color: #ffffff ; margin: 0px 60px; height:130px; padding-left: 80px;">
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <div class = "filmbox">
                                <a href="#">
                                <img class="profile" 
                                    src="http://file3.instiz.net/data/file3/2021/05/31/c/3/9/c39740894a446ef2335cfb6818eb579f.png">
                                </a>
                            </div>
                            <div style="font-size: 20px;">
                                nickname
                            </div>
                        </div>
                        <div style="padding: 10px;">
                            <button onclick="Togglelike()">
                                <i class='bx bxs-heart filmboxicon' id="likebtn"></i>
                            </button>

                            <a href="#">
                                    <i class='bx bx-message-rounded-dots filmboxicon'></i>
                            </a>

                            <button onclick="ToggleBookmark()">
                                <i class='bx bxs-bookmark filmboxicon' id="bookmarkbtn"></i>
                            </button>
                    </div>
                        </div>
                        <div style="padding: 15px 20px">
                            <div>좋아요 123개</div>
                            <div style="padding-top: 10px;">Film information text or #hash</div>
                        </div>
                    </div>
                </div>

                </div>
        </div>
    </div>
</div>
<script>
    const likebtn = document.getElementById('likebtn');
    function Togglelike(){
        if (likebtn.style.color == "red") {
            likebtn.style.color = "grey"
        }
        else{
            likebtn.style.color = "red"
        }
    }
    
    const bookmarkbtn = document.getElementById('bookmarkbtn');
    function ToggleBookmark(){
    if (bookmarkbtn.style.color == "rgb(39, 74, 131)") {
        bookmarkbtn.style.color = "grey"
    }
    else{
        bookmarkbtn.style.color = "rgb(39, 74, 131)"
        }
    }

</script>


</body>
</html>